<ion-header>
  <ion-toolbar>
    <ion-title>
      Hệ thống theo dõi điều khiển
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-icon name="ios-thermometer" item-start></ion-icon>
    Nhiệt độ 
    <ion-badge item-end> {{sensors.temperature}}</ion-badge>
  </ion-item>

  <ion-item>
    <ion-icon name="ios-contrast" item-start></ion-icon>
    Độ ẩm đất
    <ion-badge item-end> {{sensors.light}}</ion-badge>
  </ion-item>

  <ion-item *ngFor="let relay of relays">
    <ion-label>Relay {{relay.key}}</ion-label>
    <ion-toggle checked="false" [(ngModel)]="relay.value" (click)="updateRelayStatus(relay.key, relay.value)"></ion-toggle>
  </ion-item>

  <ion-item>
    <ion-icon name="ios-cog" item-start></ion-icon>
    Chế độ tự điều khiển
    <ion-toggle checked="false" [(ngModel)]="setting.manual" (click)="updateSetting('manual', setting.manual)"></ion-toggle>
  </ion-item>

  <ion-item>
    <ion-icon name="ios-contrast" item-start></ion-icon>
    Cài đặt cảm độ ẩm đất
    <ion-toggle checked="false" [(ngModel)]="setting.light" (click)="updateSetting('light', setting.light)"></ion-toggle>
  </ion-item>
  
  <ion-item>
    <ion-label>{{setting.temperature}}</ion-label>
    <ion-icon range-left small color="danger" name="thermometer"></ion-icon>
    <ion-range min="20" max="50" step="1" snaps="true" [(ngModel)]="setting.temperature" color="danger" (click)="updateSetting('temperature', setting.temperature)">
    </ion-range>
    <ion-icon range-left small color="danger" name="thermometer"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-icon range-left small color="danger" name="alarm"></ion-icon>
    <ion-label>Từ</ion-label>
    <ion-datetime displayFormat="HH:mm" [(ngModel)]="setting.timeStart" (ngModelChange)="updateTime('time_start', setting.timeStart)"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-icon range-left small color="danger" name="alarm"></ion-icon>
    <ion-label>Đến</ion-label>
    <ion-datetime displayFormat="HH:mm" [(ngModel)]="setting.timeEnd" (ngModelChange)="updateTime('time_end', setting.timeEnd)"></ion-datetime>
  </ion-item>
</ion-content>
